.invalidSign > input {
    border: 2px solid crimson !important;
    
}

.validSign > input {
    border: 3px solid green !important;
}

div span.error {
    height: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    font-size: 0.8rem;
    color: #fff;
    line-height: 1px;
    padding: 8px 5px;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.175);
    display: inline-block;
    font-weight: bold;
}